/*AGENT SHEET*/ @-moz-document url-prefix("about:stylish-edit"),url-prefix("data:text/html") {
/* bg */
#editor,.devtools-monospace,.CodeMirror-dialog,.CodeMirror-gutter.CodeMirror-linenumbers,#text {
	background:#1d1e2a !important;
	color:#aaa !important;
}
.CodeMirror-gutters {
	border-right:0px !important;
}
.CodeMirror-gutter.CodeMirror-foldgutter {
	background:#1d1e2a !important;
}
/* font */
.devtools-monospace,.textbox-input-box,label[control="name"][accesskey="n"] {
	font-family:Open Sans;
	font-weight:600;
	font-size:13px !important;
}
#bars,#main-area > hbox,#toolbar4,#toolbar5,#main-area > grid > rows > row:first-child {
	background:#1d1e2a !important;
	color:#8a7b70 !important;
}
#main-area > grid > rows > row:first-child {
	outline:0px solid  rgb(80,80,80)
}
#main-area.theme-toolbar {
	background:#1d1e2a !important;
}
.devtools-horizontal-splitter {
	opacity:0 !important;
}
#editor {
	margin:0px -3px -1px -3px!important;
}
#editor,#sourceeditor,textbox {
	border:none !important;
}
.devtools-separator,.button-menu-dropmarker {
	display:none;
}
.CodeMirror-foldgutter-open,.CodeMirror-linenumber.CodeMirror-gutter-elt {
	color:#556b82 !important;
}
/* buttons */
.label,#cursor-at,.checkbox-label,label[control="name"] {
	color:#8a7b70 !important;
}
label[control="name"] {
	padding-left:2px !important;
}
#save-button,#preview-button,#check-for-errors-button,.devtools-toolbarbutton,.button:not(#cursor-at),.findbar-find-next.tabbable,.findbar-find-previous.tabbable {
	border-radius:0px !important;
	box-shadow:none !important;
	-moz-appearance:none !important;
	border:0px solid rgb(50,50,50) !important;
	background:#496d60 !important;
}
.CodeMirror-activeline-background {
	background:#14151f !important;
}
/* text color */
.theme-comment,.cm-s-mozilla .cm-meta,.cm-s-mozilla .cm-hr,.cm-s-mozilla .cm-comment,.variable-or-property .token-undefined,.variable-or-property .token-null {
	color:#556b82 !important;
}
.theme-fg-color1,.cm-s-mozilla .cm-number,.variable-or-property .token-number,.variable-or-property[return] > .title > .name,.variable-or-property[scope] > .title > .name {
	color:#556b82 !important;
}
.theme-link,.theme-link:visited,.cm-s-mozilla .cm-link,.cm-s-mozilla .cm-link:visited,.theme-fg-color2,.cm-s-mozilla .cm-attribute,.cm-s-mozilla .cm-variable,.cm-s-mozilla .cm-def,.cm-s-mozilla .cm-property,.cm-s-mozilla .cm-qualifier,.variables-view-variable > .title > .name {
	color:#74857c !important;
}
.theme-fg-color3,.cm-s-mozilla .cm-builtin,.cm-s-mozilla .cm-tag,.cm-s-mozilla .cm-header,.variables-view-property > .title > .name {
	color:#74857c !important;
}
.theme-fg-color5,.cm-s-mozilla .cm-bracket,.cm-s-mozilla .cm-keyword {
	color:#74857c !important;
}
.theme-fg-color6,.cm-s-mozilla .cm-string,.cm-s-mozilla .cm-string-2,.variable-or-property .token-string {
	color:#496d60 !important;
}
.theme-fg-color7,.cm-s-mozilla .cm-atom,.cm-s-mozilla .cm-quote,.cm-s-mozilla .cm-error,.variable-or-property .token-boolean,.variable-or-property .token-domnode,.variable-or-property[exception] > .title > .name {
	color:#8a7b70 !important;
}
.theme-toolbar,.devtools-toolbar,.devtools-sidebar-tabs > tabs {
	color:#556b82 !important;
}
.CodeMirror pre,.cm-s-mozilla .cm-variable-2,.cm-s-mozilla .cm-variable-3,.cm-s-mozilla .cm-operator,.cm-s-mozilla .cm-special {
	color:#556b82 !important;
}
div.CodeMirror span.CodeMirror-matchingbracket {
	color:#556b82 !important;
}
div.CodeMirror span.CodeMirror-nonmatchingbracket {
	color:rgb(255,35,35) !important;
}
}