/*@name        Aero Theme
  @namespace   http://www.runningcheese.com/firefox-v7
  @description 配合主题Simple White更改的Firefox浏览器的样式
  @author      runningcheese
  @version     v2016-02-20
  @reference   Firefox Theme "Simple White"             
*/


/*============================================Aero主题=============================================*/
#undoclosetab-button .toolbarbutton-icon, 
#RIL_toolbar_button > toolbarbutton > image,
#RIL_urlbar_add,
#RIL_urlbar_mark,
#ctraddon_back-button>.toolbarbutton-icon,
#ctraddon_forward-button>.toolbarbutton-icon,
.bookmark-item[type="menu"] > .toolbarbutton-icon,
#PersonalToolbar toolbarbutton[class="bookmark-item"][type="menu"],menu[container="true"][class="menu-iconic bookmark-item"] {
	list-style-image: url("chrome://userchromejs/content/images/custom_toolbar_16.png")!important;
}


/*后退按钮*/
#ctraddon_back-button>.toolbarbutton-icon {
	-moz-image-region: rect(16px,80px,32px,64px);
	opacity: 1 !important;
}

/*前进按钮*/
#ctraddon_forward-button>.toolbarbutton-icon {
	-moz-image-region: rect(16px,96px,32px,80px);
	opacity: 1 !important;
}

/*恢复关闭的标签页*/
#undoclosetab-button .toolbarbutton-icon {
	-moz-image-region: rect(0px, 16px, 16px, 0px)!important;
	opacity: 1 !important;
}

/*Pocket*/
#RIL_toolbar_button > toolbarbutton > image {
	-moz-image-region: rect(16px, 64px, 32px, 48px)!important;
}

#RIL_urlbar_add {
	-moz-image-region: rect(0px, 80px, 16px, 64px)!important;
	opacity: 0.6;
}

#RIL_urlbar_mark {
	-moz-image-region: rect(0px, 96px, 16px, 80px)!important;
}



/*地址栏收藏按钮*/
#bookmarks-menu-button[cui-areatype="toolbar"] .toolbarbutton-icon {
	list-style-image: url("chrome://userchromejs/content/images/urlbarbookmark.png")!important;
	-moz-image-region: rect(0px 16px 16px 0px);
}

#bookmarks-menu-button:hover {
	background-image: radial-gradient(circle closest-side,hsla(45,100%,73%,.3),hsla(45,100%,73%,0));
	-moz-image-region: rect(0px 48px 16px 32px);
}

#bookmarks-menu-button:hover:active {
	background-image: radial-gradient(circle closest-side,hsla(45,100%,73%,.1),hsla(45,100%,73%,0));
	-moz-image-region: rect(0px 48px 16px 32px);
}

/*加星书签&下拉地址栏加星书签*/
#bookmarks-menu-button[cui-areatype="toolbar"][starred] .toolbarbutton-icon,
.ac-result-type-bookmark,.autocomplete-treebody::-moz-tree-image(bookmark,treecolAutoCompleteImage) {
	list-style-image: url("chrome://userchromejs/content/images/urlbarbookmark.png")!important;
	-moz-image-region: rect(0px 48px 16px 32px);
}


/*书签文件夹图标*/
.bookmark-item[type="menu"] > .toolbarbutton-icon {
	-moz-image-region: rect(16px, 32px, 32px, 16px)!important;
}
	
/*书签栏工具栏图标*/
#PersonalToolbar toolbarbutton[class="bookmark-item"][type="menu"],menu[container="true"][class="menu-iconic bookmark-item"] {
	-moz-image-region: rect(16px, 32px, 32px, 16px)!important;
}



/*Clearly*/
#identity-icons > #page-proxy-favicon,
.verifiedDomain > #identity-icons > #page-proxy-favicon[pageproxystate="valid"],
.mixedActiveContent > #identity-icons > #page-proxy-favicon[pageproxystate="valid"],
.weakCipher > #identity-icons > #page-proxy-favicon[pageproxystate="valid"],
.mixedDisplayContent > #identity-icons > #page-proxy-favicon[pageproxystate="valid"],
.mixedDisplayContentLoadedActiveBlocked > #identity-icons > #page-proxy-favicon[pageproxystate="valid"], 
.mixedActiveBlocked > #identity-icons > #page-proxy-favicon[pageproxystate="valid"] {
	list-style-image: url(chrome://userchromejs/content/images/icons/clearly.png)!important;
	margin-left: 6px !important;
}

.chromeUI > #identity-icons > #page-proxy-favicon[pageproxystate="valid"] {
	list-style-image: url(chrome://branding/content/identity-icons-brand.svg)!important;
	border: none !important;
}

.verifiedIdentity > #page-proxy-favicon[pageproxystate="valid"] {
	list-style-image: url(chrome://browser/skin/identity-secure.svg)!important;
}

#notification-popup-box {
	margin-right: -5px !important;
}

#identity-box {
	padding: 0 5px 0 7px !important;
	margin-left: -2px !important;
}

#identity-box:hover {
	background-color: #e5e5e5!important;
	border-color: transparent;
}


/*#FeiRuoTabplus_UndoBtn*/
#FeiRuoTabplus_UndoBtn .toolbarbutton-icon {
	background: url(chrome://userchromejs/content/images/icons/undo.png) no-repeat  center !important;
}

#FeiRuoTabplus_UndoBtn:hover .toolbarbutton-icon {
	background-color: #e5e5e5!important;
}


/*autoproxy图标调整*/
toolbar[iconsize="small"] #aup-toolbarbutton,
#PersonalToolbar #aup-toolbarbutton,
#aup-status image {
	list-style-image: url("chrome://userchromejs/content/images/icons/autoproxy.png")!important;
	-moz-image-region: rect(0px, 16px, 16px, 0px);
}

toolbar[iconsize="small"] #aup-toolbarbutton[proxyMode="disabled"],
#PersonalToolbar #aup-toolbarbutton[proxyMode="disabled"],
#aup-status[proxyMode="disabled"] image {
	-moz-image-region: rect(16px, 16px, 32px, 0px)!important;
}

toolbar[iconsize="small"] #aup-toolbarbutton[proxyMode="global"],
#PersonalToolbar #aup-toolbarbutton[proxyMode="global"],
#aup-status[proxyMode="global"] image {
	-moz-image-region: rect(32px, 16px, 48px, 0px)!important;
}

#aup-toolbarbutton[cui-areatype="menu-panel"] .toolbarbutton-icon {
	list-style-image: url("chrome://userchromejs/content/images/icons/autoproxy_32.png");
	-moz-image-region: rect(0px, 32px, 32px, 0px)!important;
	width: auto;
}

#aup-toolbarbutton[cui-areatype="menu-panel"][proxyMode="disabled"] .toolbarbutton-icon {
	-moz-image-region: rect(32px, 32px, 64px, 0px)!important;
}

#aup-toolbarbutton[cui-areatype="menu-panel"][proxyMode="global"] .toolbarbutton-icon {
	-moz-image-region: rect(64px, 32px, 96px, 0px)!important;
}







/*=====================================导航栏调整=====================================*/

/*identity-box标识栏*/
#identity-box {
	padding: 2px 2px;
	border: none !important;
}

/*导航栏无边框*/
#nav-bar {
	border-top: 0px solid #d2d2d2 !important;
}

#navigator-toolbox,#PersonalToolbar {
	border: 0px solid #0063dc !important;
}

#nav-bar {
	border-bottom: 0px solid #0063dc !important;
}

#PersonalToolbar {
	margin-left: 1px !important;
	margin-right: 1px !important;
}

/*导航栏高度*/
#nav-bar {
	height: 30px !important;
	z-index: 1000000 !important;
}

/*搜索栏高度*/
#searchbar {
	height: 26px!important;
}

#searchbar {
	margin-left: -3px;
}

.searchbar-dropmarker-image {
	display: none;
}

.searchbar-textbox .textbox-input-box {
	padding-left: 3px;
}

#urlbar-wrapper {
	height: 26px !important;
}

/*导航栏图标距离调整*/
#navigator-toolbox> #nav-bar {
	padding-right: 3px !important;
	padding-left: 3px !important;
}

#navigator-toolbox #nav-bar:not([tabsontop="false"]) .toolbarbutton-1 > .toolbarbutton-menubutton-button,
#navigator-toolbox #nav-bar:not([tabsontop="false"]) .toolbarbutton-1 > .toolbarbutton-menubutton-dropmarker,
#navigator-toolbox #nav-bar:not([tabsontop="false"]) .toolbarbutton-1 {
	padding: 0px 0px !important;
	margin: 0px 0px 0px 0px !important;
}

#nav-bar-customization-target {
	padding-right: 4px !important;
	padding-left: 4px !important;
}



/*去除按钮点击的默认样式*/
:root {
	--toolbarbutton-hover-background: rgba(0,0,0,0) !important;
	--toolbarbutton-hover-bordercolor: rgba(0,0,0,0) !important;
	--toolbarbutton-hover-boxshadow: none !important;
	--toolbarbutton-active-background: rgba(0,0,0,0) !important;
	--toolbarbutton-active-bordercolor: rgba(0,0,0,0) !important;
	--toolbarbutton-active-boxshadow: 0 0 0 0px rgba(0,0,0,0) inset !important;
	--toolbarbutton-checkedhover-backgroundcolor: rgba(0,0,0,0) !important;
}
  
  
/*导航栏图标经过样式*/
#nav-bar toolbarbutton.toolbarbutton-1:not([disabled]):not([checked]):not(:active):hover .toolbarbutton-icon {
	background-color: #e5e5e5;
	border-color: transparent;
	border-radius: 0px;
}


/*导航栏图标激活样式*/
#nav-bar .toolbarbutton-1:not([disabled=true]):-moz-any([open],[checked],:hover:active) > .toolbarbutton-icon {
	background: #e5e5e5;
	border-color: transparent;
	border-radius: 0px;
}

/*PanelUI-menu-button*/
#nav-bar #PanelUI-menu-button .toolbarbutton-icon {
	border-color: transparent;
	border-radius: 0px;
	padding: 3px 7px 3px 7px;
	margin-left: -7px;
	margin-right: -7px;
}

/*书签栏图标经过样式*/
toolbarbutton.bookmark-item .toolbarbutton-text {
	margin-bottom: -1px !important;
}

toolbarbutton.bookmark-item {
	border-radius: 0px !important;
	padding: 2px 4px 2px 4px !important;
}

toolbarbutton.bookmark-item:hover {
	background-color: #e5e5e5!important;
	margin-bottom: 1px !important;
}


/*===================================标签位置调整============================*/
/* 标签页距离上方距离调整 */
/*
#titlebar-buttonbox {-moz-appearance: none !important;}
#main-window[tabsintitlebar][sizemode="normal"]:not([tabsontop="false"]) #toolbar-menubar[autohide="true"][inactive] ~ #TabsToolbar {
	margin-top: 11px !important;
	margin-right:-100px !important;
}
*/

/*正常*/
#main-window[tabsintitlebar][sizemode="normal"]:not([tabsontop="false"]) #toolbar-menubar[autohide="true"][inactive] ~ #TabsToolbar {
	margin-left: -4px !important;
	margin-top: 16px !important;
}

/*最大*/
#main-window[tabsintitlebar][sizemode="maximized"]:not([tabsontop="false"]) #toolbar-menubar[autohide="true"][inactive] ~ #TabsToolbar {
	margin-top: -1px !important;
	margin-left: -4px !important;
}

/*正常*//*定制*/
#main-window[tabsintitlebar][customizing][sizemode="normal"]:not([tabsontop="false"]) #toolbar-menubar[autohide="true"][inactive] ~ #TabsToolbar {
	margin-left: -13px !important;
}

/*最大*//*定制*/
#main-window[tabsintitlebar][customizing][sizemode="maximized"]:not([tabsontop="false"]) #toolbar-menubar[autohide="true"][inactive] ~ #TabsToolbar {
	margin-left: -13px !important;
	margin-top: -1px !important;
}	

/*正常*//*按Alt键	*/
#main-window[tabsintitlebar]:not([tabsontop="false"]) #titlebar:not([hidden]) ~ * #TabsToolbar {
	margin-left: 0px !important;
}

/*最大*//*按Alt键*/
#main-window[tabsintitlebar][sizemode="maximized"]:not([tabsontop="false"]) #titlebar:not([hidden]) ~ * #TabsToolbar {
	margin-left: -4px !important;
}






/*=====================================标签页样式调整================================*/

/*新标签页图标*/
#TabsToolbar .tabbrowser-tab .tab-icon-image:not([src]) {
	display: inline !important;
	list-style-image: url("chrome://userchromejs/content/images/icons/newtabicon.png") !important;
}

#TabsToolbar .tabbrowser-tab:not([pinned])[busy] .tab-throbber + .tab-icon-image:not([src]) {
	display: none !important;
}
	
/*标签锁定按钮*/
.tabbrowser-tab[protected] .tab-close-button {
	list-style-image: url(chrome://browser/skin/Secure24.png)!important;
	margin-bottom: -4px !important;
}

/* 标签高度 */
#tabbrowser-tabs {
	height: 29px !important;
}

/* 标签页位置调整 */
#main-window[tabsintitlebar][sizemode="normal"]:not([tabsontop="false"]) #toolbar-menubar[autohide="true"][inactive] ~ #TabsToolbar {
	margin-top: 13px !important;
}


/* 标签页字体 */
.tabbrowser-tab .tab-text.tab-label {
	font-family: "Segoe ui","Microsoft Yahei","tahoma"!important;
}
/* 鼠标移上去才显示标签关闭按钮 */
tab .tab-close-button .toolbarbutton-icon,tab .tabs-closebutton .toolbarbutton-icon {
	opacity: 0 !important;
}

tab:hover .tab-close-button .toolbarbutton-icon,tab:hover .tabs-closebutton .toolbarbutton-icon {
	opacity: 1 !important;
}

/* 标签最小宽度 */
.tabbrowser-tab:not([pinned]) {
	max-width: 220px !important;
	min-width: 36px !important;
}

/*当标签页未被选中时透明度50%*/
tab:not([selected="true"]) {
	opacity: 0.4 !important;
}

.tabs-newtab-button {
	opacity: 0.4 !important;
}

.tabs-newtab-button:hover {
	opacity: 1.0 !important;
}

/* 新建标签按钮调整 */
#TabsToolbar .tabs-newtab-button {
	padding: 0 4px !important;
}

#TabsToolbar .tabs-newtab-button .toolbarbutton-icon {
	margin-top: -3px !important;
}


/*#MemoryDisplay*/
#MemoryDisplay .statusbarpanel-text {
	background-color: #b9c4d9;
	margin-left: -1px;
}

