/* AGENT_SHEET */

/*隐藏搜索按钮*/
#searchbar .search-go-button{display: none !important;}

/*SimpleMusicPlayer*/
#SimpleMusicPlayer {margin: 9px 0px !important;}		
#SimpleMusicPlayer:hover{background-color: #e5e5e5 !important; }
#SimpleMusicPlayer-panel .panel-arrow{padding-right: 15px !important;}

/*Feed Button*/
#urlbar-container #urlbar #urlbar-icons #feed-button .toolbarbutton-icon{
list-style-image: url("chrome://userchromejs/content/images/icons/feed_button.png")!important;
margin-bottom: -2px !important;
margin-right: -2px !important;
opacity: .4!important;
}

/*书签位置调整*/
#nav-bar #bookmarks-menu-button>.toolbarbutton-menubutton-button{margin-left: -6px !important;margin-right: -8px !important;}


/*context-navigation*/
#context-navigation .menuitem-iconic {min-height:36px !important;}


/*标签页距离上方距离调整 */
#main-window[tabsintitlebar][sizemode="normal"]:not([tabsontop="false"]) #toolbar-menubar[autohide="true"][inactive] ~ #TabsToolbar {
	margin-top: 11px !important;
}


